@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');

$bg-primary: blue;
$red: #F40612;
$fade-blue: #56CCF2;
$regular-blue: #2F80ED;
$header-fade: #bdc3c7;
$header-dark: #2c3e50;
$white: white;
$font-poppins: 'Poppins', sans-serif;

// Setting sizes
$m-5: 5px;
$m-10: 10px;
$m-15: 15px;
$m-20: 20px;
$normal-padding: 10px;

header{
    background: darken($color: #000000, $amount: 0);
    padding: $normal-padding;
    justify-content: end;

    .text-red{
        color: $red;
    }
    .logo{
        justify-content: center;
        color: $white;

        h3{
            font-family: $font-poppins;
            
        }
    }
    button {
        min-height: 40px;
        background: $red;
        color: $white;
        .btn-red{
            background: $red;
        }
    }
}