<div class="banner d-flex">

        <div class="col-lg-6 m-auto lift">
                <h1 class="text-danger">Mini Flix.</h1>
                
                <p class="text-white">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV without paying more.</p>
                <div class="input-group mb-3 m-auto">
                        <div class="input-group-prepend">
                          <button class="btn btn-danger" id="basic-addon1">Search</button>
                        </div>
                        <input type="text" class="form-control" placeholder="Search for your favourite movies" aria-label="Username" aria-describedby="basic-addon1">
                </div>
        </div>
</div>


