<div class="banner d-flex">

        <div class="col-lg-6 m-auto">
                <h1 class="text-white">Mini Flix</h1>
                <p class="text-white">A place to get your favourite movies</p>
                <div class="input-group mb-3 m-auto">
                        <div class="input-group-prepend">
                          <button class="btn btn-primary" id="basic-addon1">SEARCH</button>
                        </div>
                        <input type="text" class="form-control" placeholder="Search for your favourite movies" aria-label="Username" aria-describedby="basic-addon1">
                </div>
        </div>
</div>
