$w-full: 100%;
$w-half: 50%;
$white: white;
$h-100v: 100vh;
$h-80v: 80vh;
$h-60v: 60vh;
$primary: blue;
$red: #F40612;
.banner{
    width: $w-full;
    height: $h-80v;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    
    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    h1{
        font-family: 'Abel', sans-serif;
    }
    .lift{
        margin-top: -10px;
    }
    input {
        width: $w-half;
        background: rgba($color: #000000, $alpha: 1.0);
        border: none;
        &:focus {
            outline-color: $red;
            border: none;
            box-shadow: 0 0 0 0.2rem rgba($color: #ff2356, $alpha: 0.4);
        }
        
    }
}

