$white: white;
$dark: #000000;
$r-5: 5px;
$w-2: 2em;
$w-3: 3em;
$w-5: 5em;
$w-10: 10em;
$h-10: 2em;
.container{
    background: $dark;
    margin-top: -$w-3;
    border-radius: $r-5;

    .row{
        justify-content: space-between;
    }
}