@import url('https://fonts.googleapis.com/css?family=Abel|Poppins:600&display=swap');
$body-bg: #B8BFC3;
body{
    background: $body-bg;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

$theme-colors: (
  "primary": #0074d9,
  "danger": #F40612
);
@import "../node_modules/bootstrap/scss/bootstrap";




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
