$body-bg: #B8BFC3;
body{
    background: $body-bg;
    scroll-behavior: smooth;
}

$theme-colors: (
  "primary": #0074d9,
  "danger": #F40612
);
@import "../node_modules/bootstrap/scss/bootstrap";



